In [1]:
import pandas as pd
import matplotlib
%matplotlib inline 
import numpy as np

In [2]:
### Data transformation from previous notebooks
nyc = pd.read_csv('data/central-park-raw.csv', parse_dates=[0])
nyc.columns = [x.strip() for x in nyc.columns]
nyc.columns = [x.replace(' ', '_') for x in nyc.columns]
nyc.PrecipitationIn.replace("T", '0.001')
nyc.PrecipitationIn = pd.to_numeric(nyc.PrecipitationIn.replace("T", '0.001'))
nyc['Events'] = nyc.Events.fillna('')

# Grouping

Pandas allows us to perform aggregates calculations over grouped portions of ``Series`` or ``DataFrames``. The ``.groupby`` method is the low level workhorse that enables this.

In [ ]:
# We can group by a column, but if it has unique values it isn't useful
nyc.groupby('EST').mean()['CloudCover']

In [ ]:
# Let's get the average cloud cover each month
nyc.groupby(nyc.EST.dt.month).mean()['CloudCover']

In [ ]:
# The previous aggregated over every month, 
# what if we want to group by year and month?
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).mean()['CloudCover']

In [ ]:
# The previous aggregated over every month, 
# what if we want to group by year and month?
nyc.groupby([nyc.EST.dt.year.rename('year'), nyc.EST.dt.month]).mean()['CloudCover']

In [ ]:
nyc.groupby([nyc.EST.dt.year.rename('year'), nyc.EST.dt.month]).mean(
)['CloudCover'].plot(figsize=(14,10))

In [ ]:
# With the .agg method we can apply many functions
nyc.groupby([nyc.EST.dt.year.rename('year'), nyc.EST.dt.month]).agg(['mean', 'max', 'count'])

In [ ]:
# Then plot
nyc.groupby([nyc.EST.dt.year.rename('year'), nyc.EST.dt.month]).agg(
    ['mean', 'max', 'count'])['Mean_TemperatureF'].plot()

In [ ]:
# Or just look at a table for a column
nyc.groupby([nyc.EST.dt.year.rename('year'), nyc.EST.dt.month]).agg(
    ['mean', 'max', 'count'])['Max_TemperatureF']

## Grouping Assignment
With the nino dataset:
* Find the mean temperature for each year
* Find the count of entries for each year
* Find the max temperature for each year

In [3]:
# Data transformation from previous notebook
# col names in tao-all2.col from website
names = '''obs
year
month
day
date
latitude
longitude
zon.winds
mer.winds
humidity
air temp.
s.s.temp.'''.split('\n')

nino = pd.read_csv('data/tao-all2.dat.gz', sep=' ', names=names, na_values='.', 
                   parse_dates=[[1,2,3]])
nino.columns = [x.replace('.', '_').replace(' ', '_') for x in nino.columns]
nino['air_temp_F'] = nino.air_temp_ * 9/5 + 32
wind_cols = [x for x in nino.columns if x.endswith('winds')]
for c in wind_cols:
    nino['{}_mph'.format(c)] = nino[c] * 2.237
pd.to_datetime(nino.date, format='%y%m%d')
nino = nino.drop('obs', axis=1)

In [15]:
##nino
nino.groupby([nino.year_month_day.dt.year.rename('Years'),nino.air_temp_]).agg('mean')

                          date  latitude   longitude  zon_winds  mer_winds  \
Years air_temp_
1980  20.42      801014.000000  0.000000 -109.560000  -2.900000   0.400000
      20.45      801012.000000  0.000000 -109.560000  -2.800000  -0.300000
      20.52      801013.000000  0.000000 -109.560000  -3.700000   0.100000
      20.54      801011.000000  0.000000 -109.560000  -4.200000   1.200000
      20.62      801016.000000  0.000000 -109.560000  -2.300000   1.600000
      20.65      801009.000000  0.000000 -109.560000  -3.700000   2.200000
      20.71      801010.000000  0.000000 -109.560000  -3.500000   1.100000
      20.73      801015.000000  0.000000 -109.560000  -1.500000  -0.400000
      20.84      801017.000000  0.000000 -109.560000  -2.100000   0.100000
      20.92      801018.000000  0.000000 -109.560000  -2.000000   1.300000
      20.95      800814.000000  0.000000 -109.560000  -1.200000   2.100000
      21.02      801008.000000  0.000000 -109.560000  -2.700000   2.700000
      21.08      801007.000000  0.000000 -109.560000  -2.200000   2.800000
      21.11      800813.000000  0.000000 -109.560000  -4.900000   1.900000
      21.12      801006.000000  0.000000 -109.560000  -3.200000   3.200000
      21.19      801020.000000  0.000000 -109.560000  -3.800000   0.100000
      21.20      801021.000000  0.000000 -109.560000  -5.300000   1.900000
      21.23      801019.000000  0.000000 -109.560000  -2.600000   0.900000
      21.27      800812.000000  0.000000 -109.560000  -3.500000   0.800000
      21.28      801005.000000  0.000000 -109.560000  -3.200000   2.400000
      21.45      800920.500000  0.000000 -109.560000  -5.000000   2.200000
      21.48      800815.500000  0.000000 -109.560000  -3.400000   1.800000
      21.50      801023.000000  0.000000 -109.560000  -5.300000   2.300000
      21.52      801027.000000  0.000000 -109.560000  -7.200000   3.200000
      21.53      801004.000000  0.000000 -109.560000  -4.100000   2.500000
      21.58      800818.000000  0.000000 -109.560000  -4.300000   0.600000
      21.60      801026.000000  0.000000 -109.560000  -6.300000   2.200000
      21.61      800925.000000  0.000000 -109.560000  -4.700000   2.700000
      21.69      800820.500000  0.000000 -109.560000  -5.500000   1.750000
      21.72      800966.500000  0.000000 -109.560000  -4.950000   3.400000
...                        ...       ...         ...        ...        ...
1998  29.59      980204.000000 -5.010000 -139.910000  -1.900000  -0.500000
      29.60      980352.333333  5.033333  -94.946667        NaN        NaN
      29.61      980382.333333  4.003333 -100.046667  -3.266667  -2.833333
      29.62      980518.000000 -0.110000 -124.960000  -5.950000  -2.050000
      29.63      980512.000000  8.070000  -94.950000  -2.500000  -4.100000
      29.64      980403.833333  5.030000  -94.946667        NaN        NaN
      29.65      980368.500000  1.000000 -102.475000  -0.150000  -0.100000
      29.66      980104.000000 -8.280000 -154.970000  -0.300000  -2.000000
      29.68      980368.500000  6.535000 -102.550000  -6.400000  -3.600000
      29.69      980106.333333 -2.960000   49.626667  -0.500000  -5.866667
      29.72      980466.000000  6.545000  -94.950000  -2.900000  -4.200000
      29.73      980312.500000  3.060000   27.140000  -1.700000  -4.200000
      29.75      980307.000000  1.555000   34.740000  -0.300000  -5.700000
      29.76      980306.000000  1.980000  -94.990000  -1.600000  -1.500000
      29.80      980209.000000  0.035000   34.710000  -0.400000  -3.100000
      29.86      980380.000000  2.606667 -120.020000  -3.733333  -2.133333
      29.87      980324.500000  5.030000  -94.950000        NaN        NaN
      29.90      980107.000000 -1.930000  164.420000  -1.500000  -6.000000
      29.94      980470.000000  5.035000  -94.950000        NaN        NaN
      29.95      980519.000000  8.060000  -94.950000  -4.900000  -1.600000
      29.96      980321.000000  1.990000  -95.000000  -2.800000   0.000000
      30.00      980520.000000  8.060000  -94.950000  -4.900000  -2.700000
      30.04      980601.000000 -1.990000  155.940000  -1.300000  -1.800000
      30.07      980517.000000  8.050000 -102.555000  -4.650000  -5.200000
      30.08      980403.000000  1.990000  -94.990000  -4.500000  -2.600000
      30.09      980102.000000 -8.280000 -154.960000  -2.600000   0.400000
      30.21      980516.000000  8.060000  -94.960000  -5.200000  -3.600000
      30.22      980518.000000  8.060000  -94.960000  -6.500000  -1.800000
      30.26      980517.000000  8.060000  -94.950000  -5.400000  -3.800000
      31.66      980105.000000 -7.980000 -179.850000   7.900000  -1.200000

                  humidity  s_s_temp_  air_temp_F  zon_winds_mph  \
Years air_temp_
1980  20.42            NaN    20.5200      68.756      -6.487300
      20.45            NaN    20.5100      68.810      -6.263600
      20.52            NaN    20.7100      68.936      -8.276900
      20.54            NaN    20.7200      68.972      -9.395400
      20.62            NaN    20.4700      69.116      -5.145100
      20.65            NaN    20.7100      69.170      -8.276900
      20.71            NaN    20.7400      69.278      -7.829500
      20.73            NaN    20.6200      69.314      -3.355500
      20.84            NaN    20.5900      69.512      -4.697700
      20.92            NaN    20.7300      69.656      -4.474000
      20.95            NaN    21.1900      69.710      -2.684400
      21.02            NaN    20.9700      69.836      -6.039900
      21.08            NaN    21.2000      69.944      -4.921400
      21.11            NaN    21.3200      69.998     -10.961300
      21.12            NaN    21.1700      70.016      -7.158400
      21.19            NaN    21.0800      70.142      -8.500600
      21.20            NaN    21.1800      70.160     -11.856100
      21.23            NaN    21.0700      70.214      -5.816200
      21.27            NaN    21.5800      70.286      -7.829500
      21.28            NaN    21.4200      70.304      -7.158400
      21.45            NaN    21.5300      70.610     -11.185000
      21.48            NaN    21.7800      70.664      -7.605800
      21.50            NaN    21.4600      70.700     -11.856100
      21.52            NaN    21.7300      70.736     -16.106400
      21.53            NaN    21.6600      70.754      -9.171700
      21.58            NaN    21.7400      70.844      -9.619100
      21.60            NaN    21.8400      70.880     -14.093100
      21.61            NaN    21.7200      70.898     -10.513900
      21.69            NaN    21.8800      71.042     -12.303500
      21.72            NaN    21.6800      71.096     -11.073150
...                    ...        ...         ...            ...
1998  29.59      75.300000    30.4300      85.262      -4.250300
      29.60      81.500000    30.1700      85.280            NaN
      29.61      80.366667    30.0700      85.298      -7.307533
      29.62      82.350000    29.5500      85.316     -13.310150
      29.63      81.400000    30.4400      85.334      -5.592500
      29.64      79.633333    29.9375      85.352            NaN
      29.65      82.000000    30.2350      85.370      -0.335550
      29.66      76.700000    30.9200      85.388      -0.671100
      29.68      81.600000    29.8450      85.424     -14.316800
      29.69      79.833333    29.4000      85.442      -1.118500
      29.72      79.200000    30.4400      85.496      -6.487300
      29.73      79.200000    29.6700      85.514      -3.802900
      29.75      77.900000    30.2800      85.550      -0.671100
      29.76      77.600000    30.5900      85.568      -3.579200
      29.80      73.700000    30.8100      85.640      -0.894800
      29.86      81.800000    30.1950      85.748      -8.351467
      29.87      78.900000    30.1650      85.766            NaN
      29.90      72.300000        NaN      85.820      -3.355500
      29.94      79.500000    30.5400      85.892            NaN
      29.95      81.400000    30.4400      85.910     -10.961300
      29.96      78.900000    30.7200      85.928      -6.263600
      30.00      83.700000        NaN      86.000     -10.961300
      30.04      88.300000    29.6000      86.072      -2.908100
      30.07      83.100000    30.0350      86.126     -10.402050
      30.08      78.900000    30.4500      86.144     -10.066500
      30.09      74.900000    30.9600      86.162      -5.816200
      30.21      82.900000    30.4400      86.378     -11.632400
      30.22      80.200000    30.4400      86.396     -14.540500
      30.26      81.000000    30.4400      86.468     -12.079800
      31.66            NaN    29.1100      88.988      17.672300

                 mer_winds_mph
Years air_temp_
1980  20.42           0.894800
      20.45          -0.671100
      20.52           0.223700
      20.54           2.684400
      20.62           3.579200
      20.65           4.921400
      20.71           2.460700
      20.73          -0.894800
      20.84           0.223700
      20.92           2.908100
      20.95           4.697700
      21.02           6.039900
      21.08           6.263600
      21.11           4.250300
      21.12           7.158400
      21.19           0.223700
      21.20           4.250300
      21.23           2.013300
      21.27           1.789600
      21.28           5.368800
      21.45           4.921400
      21.48           4.026600
      21.50           5.145100
      21.52           7.158400
      21.53           5.592500
      21.58           1.342200
      21.60           4.921400
      21.61           6.039900
      21.69           3.914750
      21.72           7.605800
...                        ...
1998  29.59          -1.118500
      29.60                NaN
      29.61          -6.338167
      29.62          -4.585850
      29.63          -9.171700
      29.64                NaN
      29.65          -0.223700
      29.66          -4.474000
      29.68          -8.053200
      29.69         -13.123733
      29.72          -9.395400
      29.73          -9.395400
      29.75         -12.750900
      29.76          -3.355500
      29.80          -6.934700
      29.86          -4.772267
      29.87                NaN
      29.90         -13.422000
      29.94                NaN
      29.95          -3.579200
      29.96           0.000000
      30.00          -6.039900
      30.04          -4.026600
      30.07         -11.632400
      30.08          -5.816200
      30.09           0.894800
      30.21          -8.053200
      30.22          -4.026600
      30.26          -8.500600
      31.66          -2.684400

[12688 rows x 10 columns]

# Pivoting

In [ ]:
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF'])

In [ ]:
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).plot(figsize=(14,10))

In [ ]:
# We can "unstack" to pull a left index into a column (0 is the left most index)
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).unstack(0)

In [ ]:
# We can "unstack" to pull a left index into a column (1 is the 2nd index)
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).unstack(1)

In [ ]:
# Just use one value and one aggregation
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(1)

In [ ]:
# Just use one value and one aggregation by year
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(1).plot(cmap='viridis', figsize=(14,10))

In [ ]:
# Just use one value and one aggregation by month
nyc.pivot_table(index=[nyc.EST.dt.year.rename('year'), nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(0).plot(cmap='viridis', figsize=(14,10))

## Pivoting Assignment
With the nino dataset:
* Pivot the nino data using the ``.pivot_table`` method. Group by year and month, the ``air_temp`` column. Reduce using the ``max``, ``min``, and ``np.mean`` functions. (You will either need to create a month column or use ``year_month_day.dt.month``)
* Plot a line plot of the previous pivot table

## Pivoting Bonus Assignment
* Using ``.groupby`` we can sometimes perform the same operation as pivot tables. Pivot the nino data using the ``.groupby`` method. Group by year and month, the ``air_temp_`` column. Reduce using the ``max``, ``min``, and ``np.mean`` functions using ``.groupby``. (Hint: Use the ``.agg`` method on the result of the group by)
* Use ``.unstack`` to see the mean ``air_temp_`` by year