In [1]:
import pandas as pd
import matplotlib
%matplotlib inline 
import numpy as np

# More Stacking

In [2]:
# We briefly talked about stacking in the pivot section, here we will
# dive in a little more.
# Vehicle data - https://www.fueleconomy.gov/feg/download.shtml
# Datasets for All Model Years (1984â€“2018)
auto = pd.read_csv('data/vehicles.csv.zip')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
auto.head()

In [ ]:
auto.head().T

In [ ]:
auto.columns

In [ ]:
auto.dtypes

In [ ]:
# guzzler- if G or T, this vehicle is subject to the gas guzzler tax
auto.guzzler.value_counts()

In [3]:
auto.groupby('make').size()

make
AM General                               6
ASC Incorporated                         1
Acura                                  310
Alfa Romeo                              54
American Motors Corporation             27
Aston Martin                           142
Audi                                   944
Aurora Cars Ltd                          1
Autokraft Limited                        4
Avanti Motor Corporation                 2
Azure Dynamics                           2
BMW                                   1807
BMW Alpina                               3
BYD                                      5
Bentley                                122
Bertone                                  7
Bill Dovell Motor Car Company            4
Bitter Gmbh and Co. Kg                   5
Bugatti                                  9
Buick                                  641
CCC Engineering                          2
CODA Automotive                          2
CX Automotive                           17
Cadillac                               554
Chevrolet                             3900
Chrysler                               718
Consulier Industries Inc                 3
Dabryan Coach Builders Inc               9
Dacia                                    3
Daewoo                                  67
                                      ...
Rolls-Royce                            179
Roush Performance                       57
Ruf Automobile Gmbh                      3
S and S Coach Company  E.p. Dutton       1
SRT                                      2
Saab                                   432
Saleen                                   5
Saleen Performance                       5
Saturn                                 278
Scion                                   84
Shelby                                   1
Spyker                                  13
Sterling                                12
Subaru                                 856
Superior Coaches Div E.p. Dutton         1
Suzuki                                 515
TVR Engineering Ltd                      4
Tecstar, LP                              6
Tesla                                   46
Texas Coach Company                      4
Toyota                                1976
VPG                                      5
Vector                                   4
Vixen Motor Company                      1
Volga Associated Automobile              1
Volkswagen                            1131
Volvo                                  786
Wallace Environmental                   32
Yugo                                     8
smart                                   33
Length: 134, dtype: int64

In [4]:
auto.groupby(['year', 'make']).size()

year  make
1984  AM General                         4
      Alfa Romeo                         4
      American Motors Corporation       20
      Aston Martin                       6
      Audi                              26
      Avanti Motor Corporation           2
      BMW                               16
      Bertone                            2
      Bill Dovell Motor Car Company      2
      Bitter Gmbh and Co. Kg             2
      Buick                             84
      Cadillac                          17
      Chevrolet                        250
      Chrysler                          42
      Dodge                            191
      Ford                             236
      GMC                              156
      Grumman Olson                      2
      Honda                             24
      Import Foreign Auto Sales Inc      1
      Isuzu                             30
      Jaguar                             3
      Jeep                              49
      Kenyon Corporation Of America      4
      Lamborghini                        2
      Lincoln                            9
      Lotus                              2
      Maserati                           4
      Mazda                             28
      Mercedes-Benz                     27
                                      ...
2018  Dodge                             26
      Ferrari                            9
      Fiat                               1
      Ford                              53
      GMC                               44
      Genesis                           10
      Honda                             16
      Hyundai                           24
      Infiniti                          15
      Jaguar                            27
      Jeep                              18
      Karma                              1
      Kia                               33
      Lamborghini                        4
      Land Rover                         3
      Lexus                              4
      Lincoln                           17
      MINI                              36
      Maserati                          10
      Mazda                             10
      Mercedes-Benz                     70
      Mitsubishi                         4
      Nissan                            10
      Porsche                           50
      Ram                                4
      Rolls-Royce                        6
      Subaru                            20
      Toyota                            39
      Volkswagen                        16
      Volvo                             27
Length: 1673, dtype: int64

In [ ]:
auto.groupby(['year', 'make']).size().unstack(1)

In [ ]:
# .stack undoes .unstack
auto.groupby(['year', 'make']).size().unstack(1).stack()

In [ ]:
# By default .unstack does innermost level (in this case 1)
auto.groupby(['year', 'make']).size().unstack(0)

In [ ]:
# If index has name we can use that
auto.groupby(['year', 'make']).size().unstack('make')

In [ ]:
# If index has name we can use that
auto.groupby(['year', 'make']).size().unstack('year')

In [ ]:
# get Ford through Lexus
auto.groupby(['year', 'make']).size().unstack().loc[:,'Ford':'Lexus'].\
plot(figsize=(14,10))

In [ ]:
# Wrap with parens to allow per line "flow" style
(
auto.groupby(['year', 'make'])
    .size()
    .unstack('make')
    .loc[:,'Ford':'Lexus']
    .plot(figsize=(14,10)) 
)

In [ ]:
# Just look at Ford, Lexus, & Toyota
auto.groupby(['year', 'make']).size().unstack('make').loc[:,['Ford', 'Lexus', 'Toyota']].\
plot(kind='bar', figsize=(14,10))

In [ ]:
# get the average gas mileage per year
auto.groupby(['year', 'make'])['city08'].mean().unstack('make').\
loc[:,['Ford', 'BMW', 'Toyota', 'Honda']].\
plot(figsize=(14,10))

In [ ]:
# Get the 70% quantile for each mfr
auto.groupby(['year', 'make'])['city08'].quantile(.7).unstack('make').\
loc[:,['Ford', 'BMW', 'Toyota', 'Honda']].\
plot(subplots=True, sort_columns=True, figsize=(14,10))

In [ ]:
# Add the drive
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .unstack('drive').unstack('make')
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          ["Rear-Wheel Drive"])]
    .unstack('drive').unstack('year')
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          ["Rear-Wheel Drive"])]  # if we don't make a list here the index won't have drive
    .unstack('drive').unstack('year')
)

In [ ]:
# Simpler may be better
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          "Rear-Wheel Drive")]
    .plot(figsize=(14,10))
)

## Stacking Assignment

* For each Escape (model) in Ford (make) show the by year avg mpg (city08) in tabular form.
* Visualize the result

## Extra Groupby

In [ ]:
# Find best mpg for each year/make
auto.loc[auto.groupby(['year', 'make']).city08.idxmax()][['year', 'make', 'model', 'city08']]

In [ ]:
# only show ford
res = auto.loc[auto.groupby(['year', 'make']).city08.idxmax()][['year', 'make', 'model', 'city08']]
res[res.make.isin(['Ford'])]